.card {
  border-radius: 0.5rem;

  & .card-header {
    display: flex;
    line-height: 2.3;
    align-items: center;
    padding: 0.9rem 1rem;

    & svg {
      font-size: 1.1rem;
      margin-right: 0.75rem;
    }

    & h6 {
      margin: 0;
      font-weight: 600;
    }
  }
}